<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/frankicon.png" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/create-update-employee">
    <mat-icon>recent_actors</mat-icon> Employees
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/create-update-department">
    <mat-icon>business</mat-icon> Departments
  </a> 
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/mark-attendance">
    <mat-icon>M</mat-icon> Mark Attendance
  </a> 

</mat-nav-list> 
